body {
    background-color: #2e2e2e;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color-scheme: dark;
}


.modal-dialog .modal-content{
    background-color: #2e2e2e;
    color: #fff;
}

.row {
    position: fixed;
    left:5px;
    top:0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 3px;
    height: 30px;
    width: 100%;
    background-color: #2e2e2e;
}

.row > li {
  list-style: none;
}

.row > li > a {
    color: beige;
    text-decoration: none;
}

.row > li > a:hover {
    background-color: #444;
}

.ui-menu {
  display: block; /* or inline-block */
  position: fixed;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
    color-scheme: dark;
    color: #ffffff;
    background-color: #333;
    border: none;
}

.nav-item > a {
flex-direction: row;
flex-wrap: nowrap;
\\position: fixed;
overflow: hidden !important;
white-space: nowrap !important;;
}

.navbar-nav {
    background-color: #933;
    padding-left: 3px;
    height: 30px;
    position:fixed;
    white-space: nowrap !important;
    overflow: hide !important;
    width: 100% !important;
    top: 10px;;
    left: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-nav > li {
    list-style: none;
}

.navbar-nav > li > a {
    color: #fff;
    padding: 0px 6px;
    border-radius: 0;
    text-decoration: none;
    background-color: #333;
}

.navbar-nav > li > a:hover {
    background-color: #444;
}

.navbar-inverse {
    background-color: #333;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-menu > li > a {
    background-color: #333;
    color: white;
}

.container {
    padding: 5px;
}
